/*Estilo de las listas*/
.container {
    padding: 50px 70px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  .lista-h1 {
    font-size: 2rem;
  }
  
  .lista-li {
    padding: 8px;
    padding-left: 40px;
    transition: ease 400ms;
    cursor: pointer;
    display: flex;
    letter-spacing: 1px;
    opacity: 0.85;
  }
  
  .lista-li:hover {
    transform: translateX(20px);
    opacity: 1;
  }
  
  .lista-li:focus-visible {
    outline: 2px solid red;
    outline-offset: 2px;
    border-radius: 4px;
  }
  
  .lista-ol {
    list-style: square ;
    counter-reset: ordered-list;
  }
  
  .lista-li:before {
    counter-increment: ordered-list;
    content: counter(ordered-list);
    font-family: "Sharpie", sans-serif;
    margin-right: 10px;
    background-color: #ff4e4e;
    color: #f6f6f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }