<aside style="width: 520px;">
    <form class="form">
        <div >
            <label for="search">Búsqueda</label>
            
        </div>
        <input
            type="search" 
            required
            min="2"
            max="24"
            name="search"
            id="search" 
            placeholder=" Ingresa un término o frase a buscar en la enciclopedia…"
            style="width: 100%;"
        /> 
    </form>
</aside>

<script>
    import DOMPurify from 'dompurify';
    const form = document.querySelector('form');
    form?.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const searchTerm = DOMPurify.sanitize(formData.get("search")?.toString());
        if (!searchTerm || searchTerm.length === 0) return;
        const url = new URL("/busqueda", window.location.origin);
        url.searchParams.set("q", searchTerm);
        window.location.assign(url.toString());
    }); 
</script>    