---
import { getCollection } from 'astro:content';
import BaseNavigation from '@components/layout/BaseNavigation.astro';
import styles from '../../styles/listas.module.css'
// import Layout from '@layouts/Default.astro';
// import BlogList from '@components/blog/BlogList.astro';

// const posts = await getCollection('blog').then((collection) =>
//   collection.reverse()
// );
import '../../styles/global.css'
import { Card, Pill } from '@eliancodes/brutal-ui';



import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

import { supabase } from '../../../src/lib/supabase.js';


const { data: articulo, error } = await supabase
  .from('articulo')
  .select('titulo, id')
  .filter('categoria', 'eq', 'Cuestiones preambulares')
  .order('id', { ascending: true });

  //console.log(articulo);



---
<style>
  @media (max-width: 375px) and (max-height: 667px) {
    .my-responsive-card {
      transform: scale(1.5);
    }
  }
  </style>



<Layout
  title='Blog'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='Brutal Blog'
>
  <main class='bg-green p-6'>

    <div class='w-1/1 h-630 mx-auto'>
  <Card >
    <h1 class='text-center text-2xl md:text-3xl lg:text-4xl font-bold mb-4'>Cuestiones Preambulares</h1>
    <div class={styles.container} >


      <ol class={styles['lista-ol']}>
        {articulo && (
          <ul>
            {articulo.map((item: any) => (
              <li class={styles['lista-li']} tabindex="1">
                <a href={`/preambulares/${item.id}`}>{item.titulo}</a>
              </li>
            ))}
          </ul>
        )}
      </ol>
    </div>
      
  </div>
    </Card>
  </div>


 
    
  </main>
</Layout>
